  <!-- Header -->
  <header class="masthead">
    <div class="container">
      <div class="intro-text">
        <div class="intro-heading text-uppercase">Ocean Dynamics</div>
        <div class="intro-lead-in"><a href="http://www.aosc.umd.edu" target="_blank" style="color:white"
          >Department of Atmospheric and Oceanic Science<br>University of Maryland, College Park</a></div>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#research">Learn about our work</a>
      </div>
    </div>
  </header>
