  <!-- People -->
<section class="bg-light page-section" id="people">
    <div class="container">
      <div class="row">
    <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">People</h2>
          <h3 class="section-subheading text-muted">Click the photos for more info.</h3>
   </div>
      </div>
      <div class="row">


        <div class="col-sm-4">
          <div class="team-member">
            <a class="portfolio-link" data-toggle="modal" href="#teamJacob">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
            <img class="mx-auto rounded-circle" src="img/team/WENEGRAT_Jacob-thumb.jpg" alt="">
          </a>
            <h4>Jacob Wenegrat</h4>
            <p class="text-muted">Associate Professor<br>Atmospheric and Oceanic Science </p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="mailto:wenegrat@umd.edu">
                  <i class="far fa-envelope"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://scholar.google.com/citations?user=WWMoK3kAAAAJ&hl=en" target="_blank">
                  <i class="fab fa-google"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="http://www.github.com/wenegrat" target="_blank">
                  <i class="fab fa-github"></i>
                </a>
              </li>

            </ul>
          </div>
        </div>




        <div class="col-sm-4">
        <div class="team-member">
          <a class="portfolio-link" data-toggle="modal" href="#teamTomas">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
          <img class="mx-auto rounded-circle" src="img/team/CHOR_Tomas.jpg" alt="">
        </a>
          <h4>Tomás Chor</h4>
          <p class="text-muted">Assistant Research Scientist<br> Atmospheric and Oceanic Science </p>
         <!--<a href="https://tomchor.github.io/" target="_blank" class="text-muted">tomchor.github.io</a></p>-->
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="http://tomchor.github.io" target="_blank">
                <i class="fas fa-globe"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="mailto:tomaschor@ucla.edu">
                <i class="far fa-envelope"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://scholar.google.com/citations?hl_en&user=0uQC6kkAAAAJ" target="_blank">
                <i class="fab fa-google"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="http://www.github.com/tomchor" target="_blank">
                <i class="fab fa-github"></i>
              </a>
            </li>
          </ul>
        </div>
        </div>


        <div class="col-sm-4">
          <div class="team-member">
            <a class="portfolio-link" data-toggle="modal" href="#teamZhihua">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
            <img class="mx-auto rounded-circle" src="img/team/ZhihuaZheng.jpg" alt="">
          </a>
            <h4>Zhihua Zheng</h4>
            <p class="text-muted">Postdoctoral Researcher<br> Atmospheric and Oceanic Science </p>
          <!--   <a href="https://tomchor.github.io/" target="_blank" class="text-muted">tomchor.github.io</a></p> -->
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="https://zhihua-zheng.github.io" target="_blank">
                  <i class="fas fa-globe"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="mailto:zhihua@umd.edu">
                  <i class="far fa-envelope"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="http://www.github.com/zhihua-zheng" target="_blank">
                  <i class="fab fa-github"></i>
                </a>
              </li>
            </ul>
          </div>
          </div>


        <div class="col-sm-4">
        <div class="team-member">
          <a class="portfolio-link" data-toggle="modal" href="#teamZihan">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
          <img class="mx-auto rounded-circle" src="img/team/ZihanChen.png" alt="">
        </a>
          <h4>Zihan Chen</h4>
          <p class="text-muted">Graduate Student<br> Atmospheric and Oceanic Science</p>
      <!--   <a href="https://tomchor.github.io/" target="_blank" class="text-muted">tomchor.github.io</a></p> -->
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="mailto:zchen43@umd.edu">
                <i class="far fa-envelope"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://scholar.google.com/citations?user=kjBByNYAAAAJ&hl=en" target="_blank">
                <i class="fab fa-google"></i>
              </a>
            <li class="list-inline-item">
              <a href="http://www.github.com/zchen43" target="_blank">
                <i class="fab fa-github"></i>
              </a>
            </li>
          </ul>
        </div>
        </div>



         <!-- <div class="col-sm-4">
          <div class="team-member">
            <a class="portfolio-link" data-toggle="modal" href="#teamLogan">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
            <img class="mx-auto rounded-circle" src="img/team/LoganKnudsen_crop.jpg" alt="">
          </a>
            <h4>Logan Knudsen</h4>
            <p class="text-muted">Graduate Student<br> Atmospheric and Oceanic Science </p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="mailto:knudsen@umd.edu">
                  <i class="far fa-envelope"></i>
                </a>
              </li>
            </ul>
          </div> 
          </div>  -->
        

  <!--      <div class="col-sm-2"> <!-- Filling space here -->
  <!--      </div> -->

  <div class="col-sm-4">
    <div class="team-member">
      <a class="portfolio-link" data-toggle="modal" href="#teamKatharina">
        <div class="portfolio-hover">
          <div class="portfolio-hover-content">
            <i class="fas fa-plus fa-3x"></i>
          </div>
        </div>
      <img class="mx-auto rounded-circle" src="img/team/KatharinaGallmeier_crop.png" alt="">
    </a>
      <h4>Katharina Gallmeier</h4>
      <p class="text-muted">Graduate Student <br> 
        Atmospheric and Oceanic Science </p>
      <ul class="list-inline social-buttons">
        <li class="list-inline-item">
          <a href="mailto:kgallmei@umd.edu">
            <i class="far fa-envelope"></i>
          </a>
        </li>
      </ul>
    </div>
    </div>

  <div class="col-sm-4">
  <div class="team-member">
    <a class="portfolio-link" data-toggle="modal" href="#teamIgor">
      <div class="portfolio-hover">
        <div class="portfolio-hover-content">
          <i class="fas fa-plus fa-3x"></i>
        </div>
      </div>
    <img class="mx-auto rounded-circle" src="img/team/IgorUchoa.jpg" alt="">
  </a>
    <h4>Igor Uchoa</h4>
    <p class="text-muted">Graduate Student <br> 
      Atmospheric and Oceanic Science </p>
     <!--  <a href="https://igoruchoa.github.io/" target="_blank" class="text-muted">igoruchoa.github.io</a></p>-->
    <ul class="list-inline social-buttons">
      <li class="list-inline-item">
        <a href="http://igoruchoa.github.io" target="_blank">
          <i class="fas fa-globe"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="mailto:iufarias@umd.edu">
          <i class="far fa-envelope"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://scholar.google.com/citations?user=d-DszkwAAAAJ&hl=en" target="_blank">
          <i class="fab fa-google"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="http://www.github.com/igoruchoa" target="_blank">
          <i class="fab fa-github"></i>
        </a>
      </li>
    </ul>
  </div>
  </div>

  

  <!-- <div class="col-sm-4">
  <div class="team-member">
    <a class="portfolio-link" data-toggle="modal" href="#teamVictoria">
      <div class="portfolio-hover">
        <div class="portfolio-hover-content">
          <i class="fas fa-plus fa-3x"></i>
        </div>
      </div>
    <img class="mx-auto rounded-circle" src="img/team/VictoriaWhitley_crop.jpg" alt="">
  </a>
    <h4>Victoria Whitley</h4>
    <p class="text-muted">Graduate Student in Applied Mathematics & Statistics, and Scientific Computing </p>
    <ul class="list-inline social-buttons">
      <li class="list-inline-item">
        <a href="http://whitleyv.github.io" target="_blank">
          <i class="fas fa-globe"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="mailto:whitleyv@umd.edu">
          <i class="far fa-envelope"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://scholar.google.com/citations?hl=en&authuser=1&user=KSoO1TUAAAAJ" target="_blank">
          <i class="fab fa-google"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="http://www.github.com/whitleyv" target="_blank">
          <i class="fab fa-github"></i>
        </a>
      </li>
    </ul>
  </div>
  </div> -->



  <!--      <div class="col-sm-2"> <!-- Filling space here -->
  <!--    </div> -->

      </div>
    </div>


      <div class="row">


      </div>
  <div class="row">
              <div class="col-lg-8 mx-auto text-center">
                                    <!-- <p class="large text-muted"><b>3/26: We are hiring for a 3 year postdoc position to work on submesoscale dynamics in the bottom boundary layer and topographic wake. A full job listing can be found here: 
                    <a href="./misc/SubmesoPostdocAd_UMD_March2026.pdf" target="_blank"> 3/26 Postdoc Ad</a> -->
              <h4 class="section-subheading-large text-muted">Group Alumni</h4>
              <p class="large text-muted"><a class="portfolio-link" data-toggle="modal" href="#teamVictoria">Victoria Whitley</a> - PhD AMSC (2020-2025)

              <p class="large text-muted"><a class="portfolio-link" data-toggle="modal" href="#teamLogan">Logan Knudsen</a> - MS AOSC (2023-2025)

              <p class="large text-muted"><a class="portfolio-link" data-toggle="modal" href="#teamRachel">Rachel Wegener</a> - MS AOSC (2021-2023)
              <p class="large text-muted"><a class="portfolio-link" data-toggle="modal" href="#teamMegan">Megan Brown</a> - Undergraduate researcher AOSC (2023-2024)
              <p class="large text-muted"><a class="portfolio-link" data-toggle="modal" href="#teamMadison">Madison Magaha</a> - Undergraduate researcher AOSC (2023)</p>
              <p class="large text-muted"><a class="portfolio-link" data-toggle="modal" href="#teamJennifer">Jennifer Salerno</a> - Undergraduate researcher AOSC (2023)
              <p class="large text-muted"><a class="portfolio-link" data-toggle="modal" href="#teamSkylar">Skylar Lama</a> - Undergraduate researcher AOSC (2021-2022)
              <p class="large text-muted"><a class="portfolio-link" data-toggle="modal" href="#teamDaniel">Daniel Levy</a> - Undergraduate researcher Math & Physics (2021)
             </div>
</div>

      <div class="row">
        <div class="col-lg-8 mx-auto text-center">

              <p class="large text-muted">I am always happy to chat with UMD undergraduate researchers, PhD students, and postdocs about opportunities to join our group at the University of Maryland, College Park. It helps to have a strong background in topics like math, physics, and scientific programming, but no experience in oceanography or ocean dynamics is necessary.
If you would like to learn more I recommend starting by reading some of our recent <a class="js-scroll-trigger" href="#publications">publications</a>, and taking a look at our group <a href="https://github.com/Ocean-Dynamics-Group/GroupExpectations/raw/main/WenegratGroupExpectations.pdf" target="_blank">'expectations' document</a> which will hopefully give you a sense of my advising style and what it is like to work in our group.
I also welcome you to <a class="js-scroll-trigger" href="#contact">get in touch</a> to discuss possible research topics, funding opportunities, and how to apply.
      </div>
      </div>


      <img src="./img/SoOceanPhyto.jpg" class="w-100 img-fluid" alt="Responsive image">

  </section>
