  <!-- Research Grid -->
  <section class="bg-light page-section" id="research">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Research</h2>
          <h3 class="section-subheading text-muted"> We study the geophysical fluid dynamics (GFD) of the ocean and atmosphere, using theory, state-of-the-art high-resolution numerical models, and observations. A particular focus of our work is the ocean submesoscale (horizontal scales of 0.1-10 kms),
            a range of scales which are particularly challenging for traditional observational and computational methods.
           Understanding the dynamics of the ocean submesoscale is currently one of the most outstanding challenges in ocean physics, with fundamental connections to large-scale ocean circulation, ocean primary productivity, and air-sea interaction.
           <br> <br>Click the below topics for more info, or see <a class="js-scroll-trigger" href="#publications">publications</a>.
          </h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="img/portfolio/seamount-thumbnail.jpg" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Bottom boundary layer </h4>
            <p class="text-muted">Submesoscale processes in the ocean bottom boundary layer</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="img/portfolio/MSHARK-thumbnail.jpg" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Multi-scale dynamics</h4>
            <p class="text-muted">From turbulence to the submesoscale to the gyre scale</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="img/portfolio/viirs-so-cal.jpg" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Air-sea interaction</h4>
            <p class="text-muted">Coupled interaction between the atmosphere and ocean </p>
          </div>
        </div>

      </div>
    </div>
  </section>
