  <!-- Portfolio Modals -->

  <!-- Modal 1 -->
  <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Bottom boundary layer</h2>
                <p class="item-intro text-muted">Submesoscale processes in the ocean bottom boundary layer</p>
                <img class="img-fluid d-block mx-auto" src="img/portfolio/dyesnap.jpg" alt="">
                <p>
                  Submesoscale instabilities, fronts, and eddies are a prominent part of the dynamics of the surface boundary layer,
                  with a wide-range of well documented effects on ocean dynamics, biology, and biogeochemistry.
                  However, despite key similarities between surface mixed layers at a front and bottom boundary layers (BBLs) over topography,
                  relatively little is known about the effect of submesoscale turbulence on BBL dynamics.
                </p>
                <p>
                  Our recent work on this topic has shown that the full range of submesoscale instabilities can develop in the BBL.
                  This finding has implications for how nutrients and pollutants are mixed in coastal regions,
                  the energetics of the ocean circulation,
                  and how the deep abyssal waters make their way back to the ocean surface. Many of these topics are the subject of active ongoing research, with available PhD and postdoctoral projects (please <a href="mailto:wenegrat@umd.edu">contact me</a> for more information).
                </p>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close window</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 2 -->
  <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Multi-scale dynamics</h2>
                <p class="item-intro text-muted">From turbulence to the submesoscale to the gyre scale</p>
                <img class="img-fluid d-block mx-auto" src="img/portfolio/CHESA2MOV_350.png" alt="">
                <p> The submesoscale occupies a unique part of the spectrum of ocean motions, contributing to both the inverse and forward cascade of energy. While we have made significant progress on our understanding of the dynamics at this scale, an outstanding challenge in physical oceanography is understanding the multi-scale aspects of submesoscale flows.
                  How do submesoscales interact with, and modify, Langmuir circulations and turbulence? What are the cumulative effects of the submesoscale on larger-scale ocean circulation? These questions are particularly important in light of the fact that we will not directly resolve the submesoscale (or smaller) in climate models for at least the next several decades. In the interim, understanding the multi-scale dynamical pathways through which the effects of the submesoscale act is key to improving our understanding and modeling of the ocean circulation.
                                  </p>
                <p>
                  Some of the specific topics we are currently working on include how ocean fronts modify the dispersion of tracers
                  (such as nutrients or pollutants), how frontal instabilities modify turbulence near the surface, and how the interaction of submesoscales-Langmuir-turbulence affect entrainment and subduction.
                  Right now is a particularly exciting time to work on these problems as increased computational power, and the development of new observational instruments, are continually
                  opening new lines of inquiry. Please <a href="mailto:wenegrat@umd.edu">get in touch</a> if you would like to discuss opportunities to get involved.
                </p>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close window</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 3 -->
  <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Air-sea interaction</h2>
                <p class="item-intro text-muted">Coupled interaction between the atmosphere and ocean</p>
                <img class="img-fluid d-block mx-auto" src="img/portfolio/taomooring.jpg" alt="">
                <p>
                Upper ocean processes exert strong controls on the atmospheric boundary layer, with changes in sea-surface temperature modifying surface winds and heat fluxes, coupling the ocean and atmosphere.
                Much of our understanding of these coupled dynamics was derived considering the ocean mesoscale
                (horizontal scales of approximately 10 - 100 kms),
                and the atmospheric response to smaller-scale ocean variability is not well understood. Recently we have used very high resolution Large-Eddy Simulations
                to examine how submesoscale fronts can strongly modify the structure of winds and temperature in the atmospheric boundary layer, in ways that are not currently captured in most ocean and atmosphere models.
              </p>
              <p>
                These topics are the subject of ongoing work, with the potential to help refine our understanding
                 of air-sea interaction and coupling across scales, as well as to improve forecasting of the marine atmospheric
                 boundary layer, with possible applications to future satellite observing missions.
                </p>

                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
