  <!-- Teaching -->
  <section class="page-section" id="teaching">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Teaching</h2>

            <h4>Physical Oceanography (AOSC420/670)<br> Fall 2020-2025: <a href="./teaching/AOSC670_2020.pdf" target="_blank">Course Flyer</a>, <a href="./teaching/AOSC420-670-syllabus.pdf" target="_blank">Syllabus</a> </h4>
            <br>
            <h4>Oceanography of the Chesapeake and Mid-Atlantic (AOSC421)<br> Spring 2022-2024: <a href="./teaching/AOSC421_syllabus_rev1.pdf" target="_blank">Syllabus</a> </h4>
            <br>
        </div>
      </div>

<!--      <div class="row text-center">
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">E-Commerce</h4>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Responsive Design</h4>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Web Security</h4>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
        </div>
      </div> -->
    </div>

      <img src="./img/RotatingTable.jpg" class="w-100 img-fluid" alt="Responsive image">

  </section>
