  <!-- Team Jacob-->
  <div class="portfolio-modal modal fade" id="teamJacob" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Jacob Wenegrat</h2>
                <p class="item-intro text-muted">Associate Professor<br>Department of Atmospheric and Oceanic Science<br>University of Maryland, College Park</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
                <img class="img-fluid d-block mx-auto" src="img/team/WENEGRAT_Jacob-thumb.jpg" alt="">
            </div>
           <div class="col-md-8">
                <p>I am a physical oceanographer, with a research focus on the ocean submesoscale (horizontal scales of 0.1-10 km). These small spatial scales are particularly challenging for traditional observational and computational methods, and understanding processes at these scales remains among the most pressing open challenges in oceanography and geophysical fluid dynamics.
                  In my work I use a combination of theory and state-of-the-art high-resolution numerical simulations, with the goal being to gain deep insight into physical processes in the ocean and atmosphere. At the University of Maryland I am an Associate Professor in the Department of Atmospheric and Oceanic Science, and am affiliate faculty in Applied Mathematics & Statistics, and Scientific Computing, as well as the Burgers Program for Fluid Dynamics. I am also an editor for the Journal of Physical Oceanography, co-chair the US CLIVAR working group for Small-Scale Processes in the Upper Ocean and their Interaction with the Earth's Climate System, and was the 2026 recipient of the AMS Fofonoff Early Career Award in Physical Oceanography.
                </p>
            </div>
                <p>
                  I did my undergraduate work at Stanford University, in an interdiscplinary program called <a href="https://symsys.stanford.edu/" target="_blank">Symbolic Systems</a>, where I was primarily interested in what science could tell us about classic questions in mind-body philosophy.
                  After college I worked for several years in technology consulting, and then spent 2 years living and traveling by sailboat. During this time I became interested in the field of oceanography, and became particularly excited by how theory, observations, and technology were being used together to answer fundamental questions about our earth system.
                  I then did my PhD in Oceanography (with <a href="https://www.pmel.noaa.gov/scientist/dr-michael-james-mcphaden" target="_blank">Mike McPhaden</a>), and an MS in Applied Mathematics, at the University of Washington.
                  For my postdoctoral work I returned to Stanford, where I worked with <a href="https://pangea.stanford.edu/~leift/" target="_blank">Leif Thomas</a> on submesoscale ocean dynamics.
                </p>

                <div class="col">
                <a href="./CV/wenegrat_cv.pdf" target="_blank" class="btn btn-primary"  type="button">
                  Download CV</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Team Tomas-->
  <div class="portfolio-modal modal fade" id="teamTomas" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Tomás Chor</h2>
                <p class="item-intro text-muted">Postdoctoral Researcher<br>Atmospheric and Oceanic Science</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
                <img class="img-fluid d-block mx-auto" src="img/team/CHOR_Tomas.jpg" alt="">
            </div>
           <div class="col-md-8">
                <p>I am currently a postdoctoral researcher at the University of Maryland’s Atmospheric and Oceanic Science department in Dr. Jacob Wenegrat’s group. My research efforts have been focused on numerical investigations of turbulent environments in geophysical boundary layers in general (both oceanic and atmospheric). More recently I began investigating submesoscale phenomena in the oceanic bottom boundary layer.
                  <br><br>
               Please visit my <a href="https://tomchor.github.io/" target="_blank">website</a> to learn more.               </p>
            </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Team Zihan-->
  <div class="portfolio-modal modal fade" id="teamZihan" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Zihan Chen</h2>
                <p class="item-intro text-muted">Graduate Student<br>Atmospheric and Oceanic Science</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
                <img class="img-fluid d-block mx-auto" src="img/team/ZihanChen.png" alt="">
            </div>
           <div class="col-md-8">
                <p>I am a Ph.D. student at the Department of Atmospheric and Oceanic Science (AOSC) at the University of Maryland. Previously, I studied Geophysics and Computer Science as an undergraduate at Brown University. At AOSC I developed a strong interest in geophysical fluid dynamics and I joined Dr. Jacob Wenegrat's group in Winter 2023. My current research focuses on internal waves and bottom boundary layer, and I aim to combine observations and a hierarchy of numerical models to better understand ocean mixing - a critical process in the planetary climate system.                 <br>
            </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Team Igor-->
  <div class="portfolio-modal modal fade" id="teamIgor" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Igor Uchoa</h2>
                <p class="item-intro text-muted">Graduate Student<br>Atmospheric and Oceanic Science</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
                <img class="img-fluid d-block mx-auto" src="img/team/IgorUchoa.jpg" alt="">
            </div>
           <div class="col-md-8">
                <p>I am a Ph.D. student in the Atmospheric and Oceanic Sciences department at the University of Maryland, College Park, in Dr. Wenegrat’s group. My work is focused on air-sea interaction at the submesoscale using observations and coupled model simulations, more precisely on current and thermal feedbacks. I am currently part of NASA’s S-MODE project.
                 <br>
                 <br><br>
                 Please visit my <a href="https://igoruchoa.github.io/" target="_blank">website</a> to learn more.           
            </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Team Eunice-->
  <div class="portfolio-modal modal fade" id="teamEunice" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Eunice Kim</h2>
                <p class="item-intro text-muted">Undergraduate Researcher<br>Atmospheric and Oceanic Science</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
                <img class="img-fluid d-block mx-auto" src="img/team/EuniceKim.jpeg" alt="">
            </div>
           <div class="col-md-8">
                <p>I am an undergraduate student double majoring in Atmospheric and Oceanic Science and Environmental Science and Technology with a concentration in Ecotech Design. My research interests consist of environmental monitoring and mitigation of microplastic pollution. I am currently working on a project focusing on using particle-tracking models to quantify and trace the transport of microplastics.
            </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Team Katharina-->
  <div class="portfolio-modal modal fade" id="teamKatharina" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Katharina Gallmeier</h2>
                <p class="item-intro text-muted">Graduate Student, co-advised with Ivan Savelyev (NRL)<br>Atmospheric and Oceanic Science</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
                <img class="img-fluid d-block mx-auto" src="img/team/KatharinaGallmeier.png" alt="">
            </div>
           <div class="col-md-8">
                <p>I joined Dr. Wenegrat's group and the AOSC department at the University of Maryland as a PhD student in the fall (2024). As an undergraduate, I studied applied physics; now, as a graduate student, I am making the transition to ocean physics. My current learning/research interests include ocean dynamics theory, observational methods, and modeling techniques. Starting in the summer (2025), I will be working at the Naval Research Laboratory to analyze sub-mesoscale processes observed by ship data.
                 <br>       
            </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Team Rachel-->
  <div class="portfolio-modal modal fade" id="teamRachel" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Rachel Wegener</h2>
                <p class="item-intro text-muted">Graduate Student, co-advised with Veronica Lance NOAA<br>Atmospheric and Oceanic Science<br><a href="https://rwegener2.github.io" target="_blank">wegener2.github.io</a></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
                <img class="img-fluid d-block mx-auto" src="img/team/RachelWegener.jpg" alt="">
            </div>
           <div class="col-md-8">
                <p>I am a Masters student in the Atmospheric and Oceanic Sciences department at the University of Maryland. I have worked on analyzing commercial satellite at Maxar, implementing robust cloud processing systems at Development Seed and developing coding instruction with the NASA Student Airborne Research Program. My research interests are climate modelling of the ocean and atmosphere. I aim to practice reproducible data management and open source practices in my research work. Currently I am exploring marine heat waves in the Northwest Atlantic Ocean.
                 <br>
            </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Team Victoria-->
  <div class="portfolio-modal modal fade" id="teamVictoria" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Victoria Whitley</h2>
                <p class="item-intro text-muted">Graduate Student<br>Applied Mathematics & Statistics, and Scientific Computing </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
                <img class="img-fluid d-block mx-auto" src="img/team/VictoriaWhitley.jpg" alt="">
            </div>
           <div class="col-md-8">
                <p>I am a Ph.D. candidate in the Applied Mathematics, Statistics, and Scientific Computing program (AMSC) at the University of Maryland. I completed my Bachelor’s of Science in applied mathematics, with a minor in women studies, at the University of North Carolina. My research focuses on internal wave interactions with topography and submesoscale flows in the bottom boundary layer, as well as the numerical tools used to study them. 
                 <br>
                 <br>
                 <br>
                 Please visit my <a href="https://whitleyv.github.io/" target="_blank">website</a> to learn more.        
            </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Team Emma-->
  <div class="portfolio-modal modal fade" id="teamEmma" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Emma Bonanno</h2>
                <p class="item-intro text-muted">Undergraduate Researcher<br>Atmospheric and Oceanic Science</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
                <img class="img-fluid d-block mx-auto" src="img/team/EmmaBonanno.jpg" alt="">
            </div>
           <div class="col-md-8">
                <p>I am a Senior at the University of Maryland majoring in Atmospheric and Oceanic Science with a minor in GIS. My research interests focus on the ocean’s response to climate change in addition to coastal processes, hazards and fisheries issues. After graduation, I hope to pursue an advanced degree in oceanography or a related field. I am currently examining historical deep ocean temperatures to find signatures of warming/cooling over the past two centuries to now.
                 <br>
            </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Team Skylar-->
  <div class="portfolio-modal modal fade" id="teamSkylar" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Skylar Lama</h2>
                <p class="item-intro text-muted">Undergraduate Researcher<br>Atmospheric and Oceanic Science</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
                <img class="img-fluid d-block mx-auto" src="img/team/SkylarLama.jpg" alt="">
            </div>
           <div class="col-md-8">
                <p>I am a junior at the University of Maryland majoring in Atmospheric and Oceanic Science with a minor in Statistics. My research interests are mainly focused on coastal processes and the effects of changes in coastal dynamics. I hope to continue my research on coastal systems after graduating and possibly pursue an advanced degree in engineering or oceanography. I am currently researching about marine heatwaves along the mid-Atlantic bight and its effects on the Chesapeake Bay.
                 <br>
            </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Team Daniel-->
  <div class="portfolio-modal modal fade" id="teamDaniel" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Daniel Levy</h2>
                <p class="item-intro text-muted">Undergraduate Researcher<br>Mathematics and Physics</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
                <img class="img-fluid d-block mx-auto" src="img/team/DanielLevy.jpeg" alt="">
            </div>
           <div class="col-md-8">
                <p>I am an undergraduate student at the University of Maryland majoring in mathematics and physics. My research interests include numerical analysis, physical oceanography, and mathematical physics.

I have previously built a robust prediction of the hadron resonance gas model— a descriptor of the high-energy physics of ultrarelativistic heavy ion collisions. Currently, I am researching coarse-graining with regard to large eddy simulations at the oceanographic submesoscale, alongside exploring the injectivity of permutation invariant representations.
                 <br>
            </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


    <!-- Team George-->
    <div class="portfolio-modal modal fade" id="teamGeorge" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">George Campe</h2>
                  <p class="item-intro text-muted">Undergraduate Researcher<br>Atmospheric and Oceanic Science</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                  <img class="img-fluid d-block mx-auto" src="img/team/GeorgeCampe.jpeg" alt="">
              </div>
             <div class="col-md-8">
                  <p>I am a senior at the University of Maryland majoring in Atmospheric and Oceanic Science and minoring in Geographic Information Systems. For as long as I can remember I have been fascinated by the ocean, and now, my main interests still lie in physical and chemical oceanography, and I am currently researching bottom boundary layer mixing in the ocean. In the future, I am hoping to pursue a PhD in oceanography somewhere out on the west coast.

                   <br>
              </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Team Megan-->
    <div class="portfolio-modal modal fade" id="teamMegan" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Megan Brown</h2>
                  <p class="item-intro text-muted">Undergraduate Researcher<br>Atmospheric and Oceanic Science</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                  <img class="img-fluid d-block mx-auto" src="img/team/MeganBrown.png" alt="">
              </div>
             <div class="col-md-8">
                  <p>I am an undergraduate student in the Atmospheric and Oceanic Sciences department at the University of Maryland. My research interest is in air-sea interactions and I am currently working on a project relating submesoscale ocean eddies and the planetary boundary layer.                 <br>
              </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Team Jennifer-->
    <div class="portfolio-modal modal fade" id="teamJennifer" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Jennifer Salerno</h2>
                  <p class="item-intro text-muted">Undergraduate Researcher<br>Atmospheric and Oceanic Science<br>Co-Advised with Dr. Paige Lavin</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                  <img class="img-fluid d-block mx-auto" src="img/team/JenniferSalerno.jpg" alt="">
              </div>
             <div class="col-md-8">
                  <p>I am an undergraduate studying Atmospheric and Oceanic Science at the University of Maryland. I am currently working on a project looking at the mixed layer depth and hurricanes.
              </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <!-- Team Madison-->
    <div class="portfolio-modal modal fade" id="teamMadison" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Madison Magaha</h2>
                  <p class="item-intro text-muted">Undergraduate Researcher<br>Atmospheric and Oceanic Science<br>Co-Advised with Dr. Paige Lavin</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                  <img class="img-fluid d-block mx-auto" src="img/team/MadisonMagaha.jpg" alt="">
              </div>
             <div class="col-md-8">
                  <p>I am an undergraduate student studying Atmospheric and Oceanic Science at the University of Maryland. Currently, I am working on a project looking at ocean mixed layer depth and hurricanes.
              </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Team Logan -->
    <div class="portfolio-modal modal fade" id="teamLogan" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Logan Knudsen</h2>
                  <p class="item-intro text-muted">Graduate Student<br>Atmospheric and Oceanic Science</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                  <img class="img-fluid d-block mx-auto" src="img/team/LoganKnudsen.jpg" alt="">
              </div>
             <div class="col-md-8">
                  <p>I am a PhD student in the Atmospheric and Oceanic Sciences at the University of Maryland as a member of the Wenegrat Group. I developed a strong interest in geophysical fluid dynamics during my time at Texas A&M University where I completed my bachelor of science in mathematics. My current work involves studying the behavior of internal waves in the bottom boundary layer of the ocean using a combination of theory and numerical models. 
              </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Team Zhihua -->
    <div class="portfolio-modal modal fade" id="teamZhihua" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Zhihua Zheng</h2>
                  <p class="item-intro text-muted">Postdoctoral Researcher<br>Atmospheric and Oceanic Science</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                  <img class="img-fluid d-block mx-auto" src="img/team/ZhihuaZheng.jpg" alt="">
              </div>
             <div class="col-md-8">
                  <p>I am a postdoctoral researcher working with Dr. Jacob Wenegrat at the University of Maryland College Park. I received my PhD in Oceanography from the University of Washington working with Dr. Ramsey Harcourt and Dr. Eric D’Asaro. My PhD research was concentrated on using observations to quantify the effects of Langmuir turbulence on turbulence scaling in ocean surface boundary layers. My present work seeks to better understand the multi-scale interaction among submesoscale processes, Langmuir turbulence, and boundary layer turbulence, and how they influence the vertical exchange between surface ocean and ocean interior.
              </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
